#logo {
  margin-top: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Yellowtail', cursive;
  font-size: 1.25rem;
}

body {
  max-width: 35rem;
  width: 72%;
  margin: auto;
}

#logo p {
  font-family:'Chathura', sans-serif;
  font-size: .75rem;
  color: rgb(84, 84, 84);
  width: 12rem;
  float: left;
}

nav img {
  height: 1.5rem;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

nav a{
text-decoration: none;
color: rgb(63, 63, 63);
}

nav ul {
  font-size: .9rem;
  float: right;
}

nav li {
  display: inline-block;
}

#wifi-icon {
  margin-left: 6px;
}



.hr {
  background-image: url("../img/hr-img.png");
  background-repeat: repeat;
  width: 100%;
  height: .5rem;
  margin-top: 1.5rem;
}

main {
  margin-top: 1.75rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

#subtitle > p {
  float: left;
}

#subtitle p {
  font-family: 'Chathura', sans-serif;
  font-size: .9rem;
  color: rgb(180, 180, 180);
}

#subtitle a p {
  display: inline;
}

#subtitle a {
  text-decoration: none;
  color: rgb(148, 148, 148);
  font-size: 10px;
  float: right;
}

#subtitle i {
  font-size: .4rem;
}

main > img {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#instructions-text {
  color: rgb(133, 133, 133);
}

#instructions-text p {
  margin-bottom: 1rem;
  text-indent: 1rem;
  font-size: .65rem;
}

#ingredients-list {
  background-image: url("../img/list-bg.png");
  background-size: contain;
  width: 100%;
  height: 10rem;
}

/* #ingredients-list img {
  z-index: 1;
  width: 100%;
} */

#ingredients-list ul {
  column-count: 2;
  margin-left: 1.5rem;
  margin-top: 10px;
  padding-top: 1rem;
  list-style-type: none;
}

#ingredients-list li {
  font-family: 'Dekko', cursive;
  font-size: .7rem;
  color: rgb(91, 91, 91);
}

.crossed-out-item {
  text-decoration:line-through;
}

#author {
  margin-top: 1rem;
  float: left;
  width: 100%;
}

#author img {
  width: 9%;
  float: left;
}

#author h3 {
  margin-left: 3.5rem;
  font-weight: bold;
  color: rgb(81, 81, 81);
  font-size: .85rem;
}

#author p {
  margin-left: 3.5rem;
  margin-top: .75rem;
  font-size: .65rem;
  color: gray;
}

#author a {
  float: right;
  padding: .25rem 1rem;
  background-color: #BD7057;
  color: white;
  text-decoration: none;
  font-family: 'Chathura', sans-serif;
  font-size: 1.15rem;
  margin-left: 1rem;
}

#hr-line1 {
  border-bottom: 1px solid rgb(239, 239, 239);
  height: .25rem;
  width: 48%;
  float: left;
  margin-top: 2.8rem;
}

#footer-break img {
  height: 1.25rem;
  margin: auto;
  margin-top: 2.5rem;
}

#hr-line2 {
  border-bottom: 1px solid rgb(239, 239, 239);
  height: .25rem;
  width: 48%;
  float: right;
  margin-top: 2.8rem;
}

#footer-text p {
  text-align: center;
  font-size: .5rem;
  color: rgb(170, 169, 169);
}

#footer-text p:first-child {
  margin-top: 1rem;
}
